<!DOCTYPE html>
<html lang="en-us">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title class="notranslate">Urdu Language</title>
    <link rel="stylesheet" href="{% static 'UrduLanguage/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'UrduLanguage/fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'UrduLanguage/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'UrduLanguage/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'UrduLanguage/css/customStyles.css' %}">
    <link rel="stylesheet" href="{% static 'UrduLanguage/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'UrduLanguage/css/icons.css' %}">
    <script type='text/javascript' src="{% static 'UrduLanguage/js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'UrduLanguage/js/popper.js' %}"></script>
    <script type='text/javascript' src="{% static 'UrduLanguage/js/bootstrap.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'UrduLanguage/js/jquery1.js' %}"></script>
</head>

<body
    class="home page-template page-template-template-parts page-template-search-home page-template-template-partssearch-home-php page page-id-2004 wp-custom-logo theme-direo kingcomposer kc-css-system woocommerce-no-js atbd_content_active atbdp_preload">
    {% block content %}{% endblock %}
    <section class="kc-css-901859 section-padding notranslate">
        <div class="kc-row-container">
            <div class="kc-wrap-columns">

                <div class="kc-css-740026 col-md-12">
                    <div class="module_wrapper">


                        <div class="kc-css-37706  section-title">
                            <button type="submit" class="btn btn-outline-primary"
                                style="padding: 10px 10px 10px 10px; font-size: 22px;">
                                <i class="las la-sort" style="font-weight: 800; font-size: 26px;"></i>Volume
                            </button>

                            <button type="submit" class="btn btn-outline-primary"
                                style="padding: 10px 10px 10px 10px; font-size: 22px;">
                                <i class="las la-play" style="font-weight: 800; font-size: 26px;"></i>Play
                            </button>

                            <button type="submit" class="btn btn-outline-primary"
                                style="padding: 10px 10px 10px 10px; font-size: 22px;">
                                <i class="las la-pause" style="font-weight: 800; font-size: 26px;"></i>Pause
                            </button>

                            <button type="submit" class="btn btn-outline-primary"
                                style="padding: 10px 10px 10px 10px; font-size: 22px;">
                                <i class="las la-hand-point-right"
                                    style="font-weight: 800; font-size: 26px;"></i>Tranlation
                            </button>

                            <h2> <span>Audible Web Urdu Reader</span> </h2>
                            <p>Explore Anything</p>
                        </div>
                        <div class="kc-css-667937 ow kc_row_inner align-items-center">
                            <div class="kc-css-169639 kc_col-sm-6 kc_column_inner col-md-6 col-sm-12">
                                <div class="kc_wrapper kc-col-inner-container container">
                                    <div class="kc-elm kc-css-555496 kc_shortcode kc_single_image">

                                        <img loading="lazy"
                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                            class="" alt=""
                                            data-lazy-src="https://directorist.com/theme/demo/direo/wp-content/uploads/2019/10/cta.png" />
                                        <noscript><img
                                                src="https://directorist.com/theme/demo/direo/wp-content/uploads/2019/10/cta.png"
                                                class="" alt="" /></noscript>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row" style="padding-left: 30px; padding-right: 30px;">
                                    <div class="col-md-4">
                                        <ul
                                            class="kc-css-759226  list-unstyled  kc-feature-boxes feature-list-wrapper ">
                                            <li>
                                                <div class="icon">
                                                    <span class="circle-secondary">
                                                        <i class="la la la-check-circle"></i>
                                                    </span>
                                                </div>
                                                <div class="list-content">
                                                    <h4>Claim Listing</h4>
                                                    <p>Excepteur sint occaecat cupidatat non proident sunt in culpa
                                                        officia
                                                        deserunt mollit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul
                                            class="kc-css-463314  list-unstyled  kc-feature-boxes feature-list-wrapper ">
                                            <li>
                                                <div class="icon">
                                                    <span class="circle-secondary">
                                                        <i class="la la-money"></i>
                                                    </span>
                                                </div>
                                                <div class="list-content">
                                                    <h4>Paid Listing</h4>
                                                    <p>Excepteur sint occaecat cupidatat non proident sunt in culpa
                                                        officia
                                                        deserunt mollit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul
                                            class="kc-css-403851  list-unstyled  kc-feature-boxes feature-list-wrapper ">
                                            <li>
                                                <div class="icon">
                                                    <span class="circle-secondary">
                                                        <i class="la la-line-chart"></i>
                                                    </span>
                                                </div>
                                                <div class="list-content">
                                                    <h4>Promote your Business</h4>
                                                    <p>Excepteur sint occaecat cupidatat non proident sunt in culpa
                                                        officia
                                                        deserunt mollit.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-three footer-light notranslate">
        <div class="footer-top p-top-95">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-widgets p-bottom-25">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-md-12">
                                    <div class="widget atbd_widget widget_social">
                                        <div class="atbd_widget_title">
                                            <h4>Connect with Us</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://www.twitter.com/" target="_blank">
                                        <span class="instagram">
                                            <i class="lab la-twitter" style="color: #359aff"></i>
                                        </span>
                                        Twitter
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <span class="instagram">
                                            <i class="lab la-instagram" style="color: #ff0f0f"></i>
                                        </span>
                                        Instagram
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <span class="instagram">
                                            <i class="lab la-facebook" style="color: #005bb7"></i>
                                        </span>
                                        Facebook
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="https://www.google.com/" target="_blank">
                                        <span class="instagram">
                                            <i class="lab la-google-plus" style="color: #d20000"></i>
                                        </span>
                                        Google+
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type='text/javascript' src="{% static 'UrduLanguage/js/lazyload.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'UrduLanguage/js/owl.carousel.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'UrduLanguage/js/main.js' %}"></script>
    <script type='text/javascript'>
        var direo_localize_data = { "nonce": "b1f4066a8b", "ajaxurl": "https:\/\/directorist.com\/theme\/demo\/direo\/wp-admin\/admin-ajax.php", "nonceName": "atbdp_nonce_js", "i18n_text": { "confirmation_text": "Are you sure", "ask_conf_sl_lnk_del_txt": "Do you really want to remove this!", "confirm_delete": "Yes, Delete it!", "deleted": "Deleted!", "error": "Error!", "error_details": "Oops! Something Went Wrong.", "cancel": "Cancel", "added_favourite": "Added to Favourite", "please_login": "Please Login First" }, "uploadTitle": "Upload Profile Picture", "uploadBTN": "Upload", "public_class_path": "https:\/\/directorist.com\/theme\/demo\/direo\/wp-content\/plugins\/directorist\/public\/assets\/", "rtl": "false", "requirements_label": "Requirements" };
        var direo_rtl = { "rtl": "false" };
    </script>
    <script>
        window.lazyLoadOptions = {
            elements_selector: "[loading=lazy],.rocket-lazyload",
            data_src: "lazy-src",
            data_srcset: "lazy-srcset",
            data_sizes: "lazy-sizes",
            class_loading: "lazyloading",
            class_loaded: "lazyloaded",
            threshold: 300,
            callback_loaded: function (element) {
                if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") {
                    if (element.classList.contains("lazyloaded")) {
                        if (typeof window.jQuery != "undefined") {
                            if (jQuery.fn.fitVids) {
                                jQuery(element).parent().fitVids();
                            }
                        }
                    }
                }
            },
            use_native: true
        };
        window.addEventListener('LazyLoad::Initialized', function (e) {
            var lazyLoadInstance = e.detail.instance;

            if (window.MutationObserver) {
                var observer = new MutationObserver(function (mutations) {
                    var image_count = 0;
                    var iframe_count = 0;
                    var rocketlazy_count = 0;

                    mutations.forEach(function (mutation) {
                        for (i = 0; i < mutation.addedNodes.length; i++) {
                            if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') {
                                return;
                            }

                            if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') {
                                return;
                            }

                            images = mutation.addedNodes[i].getElementsByTagName('img');
                            is_image = mutation.addedNodes[i].tagName == "IMG";
                            iframes = mutation.addedNodes[i].getElementsByTagName('iframe');
                            is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
                            rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');

                            image_count += images.length;
                            iframe_count += iframes.length;
                            rocketlazy_count += rocket_lazy.length;

                            if (is_image) {
                                image_count += 1;
                            }

                            if (is_iframe) {
                                iframe_count += 1;
                            }
                        }
                    });

                    if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) {
                        lazyLoadInstance.update();
                    }
                });

                var b = document.getElementsByTagName("body")[0];
                var config = { childList: true, subtree: true };

                observer.observe(b, config);
            }
        }, false);

    </script>
</body>
</html>