{% extends "auth/authBase.html" %}
{% load static %}
{% block content %}
  <div id="login-page">
    <div class="container">
      <form class="form-login" action="/forgotPassword/" method="POST">
        {% csrf_token %}
        <h2 class="form-login-heading">Enter your e-mail address below to reset your password.</h2>
        <div class="login-wrap">
          <input type="email" name="email" class="form-control" placeholder="User Email" autofocus required />
          <br>
            <label class="checkbox">
               <a href="/login/">Already have an account? LOGIN HERE</a>
            </label>
          <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SEND PASSWORD RECOVERY EMAIL</button>
          {% if error %}
          <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:10px">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% if success %}
          <div class="alert alert-success alert-dismissible" role="alert" style="margin-top:10px">
            {{success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  {% endblock content %}